body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-line {
  background: #F38181;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 25px;
}

.f-title {
  margin-top: 60px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}

.s-title {
  margin-top: 10px;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.top-section {
  color: #ffffff;
  height: 1000px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))), url(../assets/picture.png);
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)), url(../assets/picture.png);
}

.top-section .header {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
  height: 75px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-section .header .header__logo {
  font-weight: 700;
  font-size: 30px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.top-section .header .header__logo:hover {
  color: #FCE38A;
}

.top-section .header .header__nav {
  font-weight: 400;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 52%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.top-section .header .header__nav li:hover {
  color: #FCE38A;
  -webkit-transition: .2s;
  transition: .2s;
}

.top-section .header .header__nav li::after {
  content: "";
  width: 0%;
  background: #FCE38A;
  height: 3px;
  display: inline-block;
}

.top-section .header .header__nav li:hover::after {
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
}

.top-section .body {
  padding-top: 115px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.top-section .body .welcome {
  font-weight: 700;
  font-size: 141px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.top-section .body .welcome::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #ffffff;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.top-section .body .title {
  font-size: 72px;
  font-family: "Kaushan Script", cursive;
}

.top-section .body .learn-more {
  border: solid white 3px;
  width: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: .2s;
  transition: .2s;
  margin-top: 50px;
  cursor: pointer;
}

.top-section .body .learn-more:hover {
  background: #fff;
  color: #F38181;
}

.top-section .back-image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-section .bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  margin-top: 150px;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-section .bottom-nav .nav-item {
  width: 100%;
  cursor: pointer;
  margin: 0 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-section .bottom-nav .nav-item:hover .text {
  color: #F38181;
}

.top-section .bottom-nav .nav-item:hover .line div {
  width: 100%;
}

.top-section .bottom-nav .nav-item .text {
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.top-section .bottom-nav .nav-item .text .num {
  font-weight: 700;
  margin-right: 5px;
  font-size: 1.2em;
}

.top-section .bottom-nav .nav-item .line {
  height: 3px;
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
  background: #fff;
}

.top-section .bottom-nav .nav-item .line div {
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  height: 100%;
  background: #F38181;
}

.about-section {
  height: 650px;
  text-align: center;
  color: #333333;
}

.about-section .text {
  font-family: "Roboto", sans-serif;
  color: #999999;
  margin-top: 30px;
  line-height: 2em;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.about-section .collage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.about-section .collage .collage__item {
  height: 100%;
  width: 380px;
  position: relative;
  background: #95E1D3;
}

.about-section .collage .collage__item div {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
  z-index: 1;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.about-section .collage .collage__item img {
  -webkit-transition: .2s;
  transition: .2s;
}

.about-section .collage .collage__item:hover div {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  opacity: 1;
}

.about-section .collage .collage__item:hover img {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.stats {
  background: #95E1D3;
  height: 270px;
  width: 100%;
}

.stats .stats__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats .stats__inner .stats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  height: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.stats .stats__inner .stats__item:hover {
  background: #B5EAE0;
}

.stats .stats__inner .stats__item .bigger {
  font-size: 72px;
  font-weight: 700;
}

.stats .stats__inner .stats__item .smaller {
  text-transform: uppercase;
}

.services {
  padding-top: 50px;
  height: 630px;
  text-align: center;
}

.services .delimiter {
  width: 100%;
  height: 1px;
  background: #E5E5E5;
}

.services .services__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services .services__list .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  height: 145px;
}

.services .services__list .service img {
  width: 30px;
  height: 30px;
  margin-top: 3px;
  margin-right: 30px;
}

.services .services__list .service .service-text {
  width: 240px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.services .services__list .service .service-text .title {
  font-size: 14;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-transform: uppercase;
}

.services .services__list .service .service-text .text {
  font-size: 15;
  margin-top: 15px;
  color: #999999;
}

.design .device {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  height: 800px;
  position: s;
  z-index: -1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url(../assets/Rectangle21.png);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../assets/Rectangle21.png);
}

.design .device .ipad {
  margin: 11px 40px 0 0;
}

.design .iphone {
  position: absolute;
  z-index: 1;
  margin: 410px 0 0 240px;
}

.design .what-we-do {
  background: #fff;
  height: 200px;
  width: 100%;
  position: absolute;
}
/*# sourceMappingURL=main.css.map */